apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: jobmanager-deployment
  namespace: flink
spec:
  replicas: 1
  template:
    metadata:
      labels:
        component: jobmanager
    spec:
      hostNetwork: true
      containers:
        - name: jobmanager
          image: wuchangping/flink:1.6.0
          args: ["jobmanager", "jobmanager.rpc.address=localhost"]
          ports:
            - containerPort: 6123
              name: rpc
            - containerPort: 6124
              name: blob
            - containerPort: 6125
              name: query
            - containerPort: 8081
              name: ui
          resources:
            requests:
              cpu: 100m
