apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: taskmanager-deployment
  namespace: demo
spec:
  replicas: 2
  template:
    metadata:
      labels:
        component: taskmanager
    spec:
      hostNetwork: true
      containers:
        - name: taskmanager
          image: wuchangping/flink:1.6.0
          args: ["taskmanager", "jobmanager.rpc.address=localhost"]
          ports:
            - containerPort: 6121
              name: data
            - containerPort: 6122
              name: rpc
            - containerPort: 6125
              name: query
          resources:
            requests:
              cpu: 100m
